

.form {
    
}

.input{
    width: 100%;
    border-radius: 1rem;
    border: solid 2px lightgrey;
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 5px;
    
   
}

.btn {
    background-color: blue;
}