
.container *{
    background-color:white;
}

.container{
    padding: 5%;
    display: flex;
    background-color:inherit;
}

.left{
padding: 5% 10% 0% 10% ;
width: 50%;
justify-content: center;
align-items: center;
}

.right{
    width: 50%;
    overflow: hidden;
    background-image: url(../images/syncee_frontend_test_wallpaper.png);
    background-size: cover;
}

.logo{
    width: 8em;
    height: auto;
    margin-bottom: 3em;
}

.line{
    display: flex;
    flex: 1;
    width: 100%;
    margin: 20px auto;
    line-height: 1em;
    text-align: center;
    color: lightgray;
}

.line::before, .line::after {
    content: "";
    flex-grow: 1;
    margin: 0px 4px;
    background: linear-gradient(lightgrey, lightgrey);
    background-size: 100% 2px;
    background-position: 0% 50%;
    background-repeat: repeat-x;
}

.foot{
    color: gray;
    font-size: small;
    margin: 6em 0 2em 0;
}

a{
    text-decoration: none;
    color: slateblue;
}


@media (max-width: 770px){
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
}